<script type="text/ng-template" id="informationDialog">
    <p>{{ngDialogData.message}}</p>
    <div class="otstup20"></div>
    <div class="ngdialog-buttons">
        <CENTER>
            <button style="float:none;" type="button" focus-me class="ngdialog-button ngdialog-button-primary" ng-click=confirm("OK")>Ок</button>
        </CENTER>
    </div>
</script>